body {
    font-family: Arial;
    color: yellow;
    background-color: teal;
    font-size: 36pt;
    text-align: center;
    padding-top: 1em;
}
mark.green{
    color: green;
    background: teal;
}